# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [1]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [2]:
# Write your code here
pop = pd.read_csv("population_by_county.csv")

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [3]:
# Write your code here

pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [4]:
pop.head(8)

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [6]:
print(f"Column names: {list(pop.columns)}")

Column names: ['County', 'State', '2010Census', '2017PopEstimate']

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [12]:
print(f"Number of States: {pop.nunique()["State"]}")

Number of States: 51

#### 5. Get a list or array of all the states in the data set.

In [21]:
states = pop["State"].unique()
print(f"All States: {states}")

# for state in states:
#     print(state,  end=",")

All States: ['South Carolina' 'Louisiana' 'Virginia' 'Idaho' 'Iowa' 'Kentucky'
 'Missouri' 'Oklahoma' 'Colorado' 'Illinois' 'Indiana' 'Mississippi'
 'Nebraska' 'North Dakota' 'Ohio' 'Pennsylvania' 'Washington' 'Wisconsin'
 'Vermont' 'Minnesota' 'Florida' 'North Carolina' 'California' 'New York'
 'Wyoming' 'Michigan' 'Alaska' 'Maryland' 'Kansas' 'Tennessee' 'Texas'
 'Maine' 'Arizona' 'Georgia' 'Arkansas' 'New Jersey' 'South Dakota'
 'Alabama' 'Oregon' 'West Virginia' 'Massachusetts' 'Utah' 'Montana'
 'New Hampshire' 'New Mexico' 'Rhode Island' 'Nevada'
 'District of Columbia' 'Connecticut' 'Hawaii' 'Delaware']

#### 6. What are the five most common County names in the U.S.?

In [33]:
top_five_county = pop["County"].value_counts().head()

top_five_county

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

In [39]:
print(f"Top five most common County Names in the U.S:\n{list(top_five_county.index)}")

Top five most common County Names in the U.S:
['Washington County', 'Jefferson County', 'Franklin County', 'Lincoln County', 'Jackson County']

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [45]:
top_five_populated_counties_2010 = pop.sort_values(by="2010Census", ascending=False).head().reset_index(drop=True)
top_five_populated_counties_2010

               County       State  2010Census  2017PopEstimate
0  Los Angeles County  California     9818605         10163507
1         Cook County    Illinois     5194675          5211263
2       Harris County       Texas     4092459          4652980
3     Maricopa County     Arizona     3817117          4307033
4    San Diego County  California     3095313          3337685

In [46]:
top_five_populated_counties_2010["County"]

0    Los Angeles County
1           Cook County
2         Harris County
3       Maricopa County
4      San Diego County
Name: County, dtype: object

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [62]:
top_5_most_populated_state_2010 =  pop.groupby("State").sum().sort_values(by="2010Census", ascending=False).reset_index()[["State","2010Census"]].head()
top_5_most_populated_state_2010

        State  2010Census
0  California    37253956
1       Texas    25145561
2    New York    19378102
3     Florida    18801310
4    Illinois    12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [73]:
print(f"Number of Counties with 2010 population greater than 1 million: {pop[pop["2010Census"] > 1000000]["County"].count()}")

Number of Counties with 2010 population greater than 1 million: 39

#### 10. How many Counties don't have the word "County" in their name?

In [142]:
print(f"No of counties don't have the word 'County' in their name: {pop[~pop["County"].str.contains("County")]["County"].count()}")

No of counties don't have the word 'County' in their name: 135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [101]:
pop["population_pct_change"] = round(((pop["2017PopEstimate"] - pop["2010Census"])/pop["2017PopEstimate"])*100, 2)
pop

,County,State,2010Census,2017PopEstimate,population_pct_change
0,Abbeville County,South Carolina,25417,24722,-2.81
1,Acadia Parish,Louisiana,61773,62590,1.31
2,Accomack County,Virginia,33164,32545,-1.90
3,Ada County,Idaho,392365,456849,14.11
4,Adair County,Iowa,7682,7054,-8.90
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,5.68
3138,Yuma County,Colorado,10043,10075,0.32
3139,Zapata County,Texas,14018,14322,2.12
3140,Zavala County,Texas,11677,11948,2.27
3141,Ziebach County,South Dakota,2801,2756,-1.63

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [134]:
state_pop = pop.groupby("State").agg({"2010Census": "sum","2017PopEstimate":"sum"}).reset_index()

In [135]:
state_pop["population_pct_change"] = round(((state_pop["2017PopEstimate"] - state_pop["2010Census"])/state_pop["2017PopEstimate"])*100, 2)

In [138]:
state_pop.sort_values(by="population_pct_change", ascending=False).head()[["State", "population_pct_change"]].reset_index(drop=True)

                  State  population_pct_change
0  District of Columbia                  13.29
1                 Texas                  11.16
2          North Dakota                  10.96
3                  Utah                  10.90
4               Florida                  10.40